@import "./constants.scss";

.intro {
  position: relative;
  height: 100vh;

  .logo {
    width: 5rem;
    mix-blend-mode: darken;
    margin: 1rem;
  }

  .photo {
    position: absolute;
    width: 30rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(10deg);
    background: $yellow;
    animation: rotateP1 5s infinite;

    img.perezosillo {
      width: 100%;
      mix-blend-mode: darken;
    }

    img.thuglife {
      position: absolute;
      width: 27%;
      top: 10%;
      left: 45%;
      transform: scaleX(-1) rotate(-10deg);
      animation: moveThug 5s infinite;
    }
  }

  h1.intro-title,
  h2.intro-left,
  h3.intro-right {
    font-size: 7rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin: 0;
    width: 100%;
    text-align: center;
  }

  h2.intro-left {
    font-size: 2rem;
    top: 43%;
    left: 10%;
    color: black;
    width: auto;

    &::before {
      content: "";
      width: 5rem;
      height: 3px;
      background: white;
      position: absolute;
      bottom: 5px;
      left: 0;
      transform: rotate(-2deg);
      z-index: -1;
    }
  }

  h3.intro-right {
    font-size: 2rem;
    top: 60%;
    left: 75%;
    color: black;
    width: auto;

    &::before {
      content: "";
      width: 3rem;
      height: 3px;
      background: white;
      position: absolute;
      bottom: 5px;
      right: 0;
      transform: rotate(2deg);
      z-index: -1;
    }
  }

  .dont {
    position: absolute;
    width: 6rem;
    height: 6rem;
    color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);

    span {
      width: 4rem;
      z-index: 1;
      font-weight: 900;
      font-size: 1.2rem;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      width: 100%;
      height: 100%;
      background: $green;
      border-radius: 50%;
      z-index: 0;
      transition: 0.3s;
    }

    &::after {
      content: "";
      position: absolute;
      top: -3px;
      left: -3px;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 3px solid black;
      z-index: 2;
    }

    &:hover {
      &::before {
        top: 0;
        left: 0;
      }
    }
  }

  .not {
    position: absolute;
    width: 30rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 6px solid white;
    opacity: 1;
    transition: 0.3s;

    &.none {
      width: 0;
      opacity: 0;
    }
  }
}

.summary {
  margin-bottom: 15rem;
  .title-summary {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }

  .row-text-animate {
    display: inline-flex;
    transform: rotate(-3deg);
    margin-top: -3.5rem;

    &:last-child {
      margin-bottom: 5rem;
    }

    .text-animate {
      white-space: nowrap;
      animation: text-create-animation 15s linear infinite;
      font-size: 8rem;
      margin: 0;

      &.with-border {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $yellow;
        // text-shadow: 4px 0 0 black, -4px 0 0 black, 0 4px 0 black,
        //   0 -4px 0 black, 2px 2px black, -2px -2px 0 black, 2px -2px 0 black,
        //   -2px 2px 0 black;
        color: black;
      }

      span {
        padding-right: 4rem;
      }
    }

    &.inverse {
      .text-animate {
        animation: text-create-animation-inverse 15s linear infinite;
        color: $yellow;
      }
    }
  }
}

.zoom-section {
  width: 100%;
  height: 300vh;

  p {
    color: black;
    font-size: 10rem;
    text-align: center;
    font-weight: 800;
  }
}

@keyframes text-create-animation {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

@keyframes text-create-animation-inverse {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes rotateP1 {
  20% {
    transform: translate(-50%, -50%) rotate(10deg);
  }

  40% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  60% {
    transform: translate(-50%, -50%) rotate(-10deg);
  }

  80% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(10deg);
  }
}

@keyframes moveThug {
  20% {
    left: 45%;
  }

  60% {
    left: 43%;
  }

  80% {
    left: 45%;
  }
}
